/* GENERALS */

@font-face {
	font-family: "Gogono";
	src: url(/Fonts/gogono-cocoa-mochi-cyrillic.otf);
}

.color__app {
	font-family: "Gogono", sans-serif;
	height: 60vh;
	display: flex;
	margin-left: 8vw;
	position: relative;
	width: 35vw;
	margin-top: 18vh;
	opacity: 0;
}

.color__app._active {
	animation: slideInUpApp 1s both cubic-bezier(0.01, 0.835, 0.445, 0.99) .5s;

}

@keyframes slideInUpApp {
	from {
	transform: translateY(100%);
	opacity: 0;
	}
	to {
	transform: translateY(0);
	opacity: 1;
	}
}

/* APP-BACKGROUND */

.color__app-background {
	height: 127%;
	width: 151%;
	position: absolute;
	background-position: center;
	background-image: url(/Backgrounds/colors-frame.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: visible;
	top: -8vh;
	left: -9.1vw;
	pointer-events: none;
}

/* COLUMN-SETTINGS */

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/* HEADING-SETTINGS */

.column h2 {
	padding: calc(var(--index) * 0.54); 
	color: #fff;
	border-radius: calc(var(--index) * 0.54); 
	transition: background 0.3s ease;
	font-size: calc(var(--index) * .7);
	letter-spacing: .1em;
	font-weight: 400;
}

.column h2:hover,
.column button:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

/* BUTTON-SETTINGS */

.column button {
	outline: none;
	padding: calc(var(--index) * 0.54); 
	border-radius: calc(var(--index) * 0.54); 
	border: none;
	background: transparent;
	font-size: 1.5rem;
	color: #fff;
	transition: background 0.3s ease;
}