/* GENERAL */

.moscow__weather-title {
  text-align: end;
  margin-right: 0.5vw;
  font-size: 1.8em;
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  .moscow__weather-title {
    text-align: center;
    width: 100vw;
    margin-left: -0.8em;
    text-align: center;
    margin-top: -2.5em;
  }
}

.moscow__block.weather {
  background-image: url(/assets/images/moscow_page/navigation/Nav_item_border_weather.png);
}
@media screen and (max-width: 500px) {
  .moscow__block.weather {
    background-image: none;
  }
}

.moscow__block.weather.chosen img {
  max-width: 100%;
  height: auto;
  font-family: "Graphic", sans-serif;
}

#app {
  position: absolute;
  width: 31em;
  height: 24em;
  top: 2em;
  left: 0;
  background: transparent;
  border-radius: 0.5em;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  #app {
    height: max-content;
    margin-left: -1.5em;
  }
}

#app::after {
  content: "";
  position: absolute;
  height: 17em;
  width: 15em;
  background: linear-gradient(to left, black, transparent);
  top: 0;
  right: 0;
}
@media screen and (max-width: 500px) {
  #app::after {
    height: 60%;
  }
}

#app::before {
  content: "";
  position: absolute;
  height: 17em;
  width: 15em;
  background: linear-gradient(to right, black, transparent);
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  #app::before {
    height: 60%;
  }
}

#root {
  height: 100%;
  width: 100%;
}

/* POPUP */

.popup {
  position: fixed;
  right: 1em;
  top: 3em;
  width: 20em;
  opacity: 0;
  transform: translateY(-200%);
  background: linear-gradient(
    to right,
    transparent,
    #5200a3,
    #6600cc,
    #8407ff,
    #5676ff,
    #00e1ff
  );
  filter: brightness(0.8);
  border-radius: 0.2em;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 9;
}

.popup.active {
  transform: translateX(0);
  opacity: 1;
}

/* POPUP-CLOSE-BUTTON */

.popup-close {
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}

.popup-close span {
  display: block;
  margin-top: 0.4em;
  width: 1.5em;
  height: 0.2em;
  background: #fff;
  transform: rotate(45deg);
  position: relative;
}

.popup-close span:after {
  content: "";
  display: block;
  width: 1.5em;
  height: 0.2em;
  background: #fff;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

/* POPUP-FORM */

.form-weather {
  width: 80%;
}

.form-weather-group {
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
}

.form-weather-input {
  border: none;
  border-bottom: 0.15em solid #eee;
  color: #fff;
  background: transparent;
  outline: none;
  font-size: 1em;
  width: 70%;
  padding: 0.3em;
  margin-right: 1em;
}

.form-weather-submit {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 20%;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  outline: none;
}

.form-weather-input::placeholder {
  color: rgb(187, 187, 187);
}

/* WEATHER-COLOR-CONTAINER */

.container:before {
  content: "";
  display: block;
  background: linear-gradient(
    to bottom,
    transparent,
    #0d324d,
    #7f5a83,
    transparent
  );
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container.is-day::before {
  background: linear-gradient(
    to bottom,
    transparent,
    #5de6de,
    #b58ecc,
    transparent
  );
}

/* TOP-INFO */

.top {
  position: relative;
  padding: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  z-index: 3;
  width: 32em;
}
@media screen and (max-width: 500px) {
  .top {
    padding-left: 1em;
    padding-right: 1em;
    width: 80vw;
    margin: 0 auto;
  }
}

.top-left {
  max-width: 80%;
}
@media screen and (max-width: 500px) {
  .top-left {
    text-align: center;
  }
}

.top-right {
  text-align: right;
}
@media screen and (max-width: 500px) {
  .top-right {
    width: 100%;
    text-align: center;
  }
}

.city-info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .city-info {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.city {
  width: max-content;
}
@media screen and (max-width: 500px) {
  .city {
    width: 100%;
  }
}

.city-subtitle {
  font-size: 0.7em;
  font-style: italic;
  line-height: 1em;
  color: #ffffff;
}
@media screen and (max-width: 500px) {
  .city-subtitle {
    font-size: 1.5em;
    line-height: 1.7em;
    text-align: center;
  }
}

.city-title {
  position: relative;
  background: transparent;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.8em;
  color: #ffffff;
  cursor: pointer;
  width: max-content;
  text-shadow: 1px 1px 2px #0d324d, 0 0 1em #5de6de, 0 0 0.2em #5de6de;
}
@media screen and (max-width: 500px) {
  .city-title {
    font-size: 2em;
    line-height: 2.2em;
    text-align: center;
    width: 100%;
  }
}

.city-info__subtitle {
  font-size: 0.5em;
  line-height: 1em;
  color: #ffffff;
}
@media screen and (max-width: 500px) {
  .city-info__subtitle {
    font-size: 1.2em;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
  }
}

.city-info__title {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.3em;
  color: #ffffff;
  text-shadow: 1px 1px 2px #b58ecc, 0 0 1em #7f5a83, 0 0 0.2em #7f5a83;
}
@media screen and (max-width: 500px) {
  .city-info__title {
    font-size: 5em;
  }
}

.moscow__block.chosen .city-info__subtitle,
.moscow__block.chosen .city-info__title {
  opacity: 0;
  animation: appearanceTopRight 0.5s ease-in-out 0.9s 1 forwards;
}

.description {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.2em;
  color: #ffffff;
  text-shadow: 1px 1px 2px #b1bfd8, 0 0 1em #6782b4, 0 0 0.2em #6782b4;
}
@media screen and (max-width: 500px) {
  .description {
    font-size: 1.5em;
    line-height: 1.7em;
  }
}

.icon {
  width: 3em;
  height: 3em;
}
@media screen and (max-width: 500px) {
  .icon {
    width: 6em;
    height: 6em;
  }
}

.moscow__block.chosen .city-subtitle,
.moscow__block.chosen .city-title,
.moscow__block.chosen .icon,
.moscow__block.chosen .description {
  opacity: 0;
  animation: appearanceTopLeft 0.4s ease-in-out 0.5s 1 forwards;
}

.moscow__block.chosen .city-title {
  animation-delay: 0.7s;
}

.moscow__block.chosen .icon,
.moscow__block.chosen .description {
  animation-delay: 0.9s;
}

/* PROPERTIES-INFO */

.property {
  width: 30%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .property {
    width: 35vw;
    flex-direction: column;
    justify-content: center;
  }
}

.property-icon {
  width: 2em;
  margin-right: 1em;
}
@media screen and (max-width: 500px) {
  .property-icon {
    width: 3em;
    margin-right: 0;
  }
}

.property-info__value {
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.2em;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .property-info__value {
    font-size: 1.5em;
    line-height: 1.7em;
    text-align: center;
  }
}

.property-info__description {
  font-weight: 300;
  font-size: 0.6em;
  line-height: 1em;
  text-transform: uppercase;
  color: #6b6b6b;
  margin-top: 0.2em;
}
@media screen and (max-width: 500px) {
  .property-info__description {
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: center;
    color: #fff;
    opacity: 0.6;
  }
}

.moscow__block.chosen #properties {
  position: relative;
  z-index: 1;
  padding: 1em 2em;
  margin-left: 2em;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  justify-content: space-between;
  animation: backInUp 0.7s ease-in-out 0.8s 1 both;
  width: 32em;
}
@media screen and (max-width: 500px) {
  .moscow__block.chosen #properties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: max-content;
    margin: 0 auto;
  }
}

@keyframes appearanceTopLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearanceTopRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes backInUp {
  0% {
    -webkit-transform: translateY(1200px) scale(0.7);
    transform: translateY(1200px) scale(0.7);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(0px) scale(0.7);
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
