/* MAIN-PAGE */

.mainPage {
  position: relative;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.mainPage::after {
  width: 100%;
  height: 20%;
  position: absolute;
  content: "";
  background-image: linear-gradient(to top, black, transparent);
  z-index: 999;
  bottom: 0;
}

.mainPage__background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-image: linear-gradient(to right, black 50%, transparent);
}

/* MAIN-PAGE-VIDEO */

.mainPage__video {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 45%;
  animation: opaVideo;
  animation-duration: 5s;
  animation-delay: 1s;
  object-fit: cover;
}

/* MAIN-PAGE-TOP-MENU */

/* MAIN-PAGE-TOP-MENU-HEADER-GENERAL */

.mainPage__header {
  margin-top: 5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* MAIN-PAGE-TOP-MENU-HEADER-LOGO */

.mainPage__header-logo {
  display: flex;
  align-items: center;
}

.mainPage__header-logo img {
  filter: brightness(0.7);
  width: 8rem;
}

#logo {
  opacity: 0;
  animation-duration: 0.5s;
  animation-name: bounceInLeft;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 2.3s;
}

/* MAIN-PAGE-TOP-MENU-LEFT */

.mainPage__header-leftMenu {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
  font-family: "Graphic", sans-serif;
  font-size: 1.5rem;
}

.mainPage__header-leftMenu > * {
  margin-left: 1.2em;
  cursor: pointer;
  color: #fff;
  outline: none;
  text-decoration: none;
  border-bottom: 0.15em solid transparent;
}

.mainPage__header-leftMenu-item {
  filter: brightness(0.7);
  transition: 0.3s ease;
  padding: 0.2em;
}

.mainPage__header-leftMenu-item:hover {
  filter: brightness(1);
  text-shadow: 1px 1px 2px white, 0 0 1em #64c5eb, 0 0 0.2em #64c5eb;
  border-bottom: 0.15em solid #64c5eb;
  border-radius: 15%;
}

.mainPage__header-leftMenu-submenu {
  position: absolute;
  list-style: none;
  opacity: 1;
  left: 21rem;
  top: 3.5rem;
  z-index: 10;
  cursor: default;
}

.mainPage__header-leftMenu-submenu > * {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  visibility: hidden;
}

.mainPage__header-leftMenu-submenu-item {
  margin-bottom: 0.6em;
  transition: text-shadow 0.3s ease;
}

.mainPage__header-leftMenu-submenu-item:hover {
  text-shadow: 1px 1px 2px white, 0 0 1em #64c5eb, 0 0 0.2em #64c5eb;
}

.mainPage__header-leftMenu-submenu-item::after {
  content: "";
  width: 100%;
  height: 0.1em;
  background: linear-gradient(97.46deg, #007aa9, #004e6c, transparent);
  position: absolute;
  bottom: -0.1em;
  left: -1em;
}

.mainPage__header-leftMenu-submenu-item::before {
  content: "✯";
  height: 80%;
  width: 0.4em;
  position: absolute;
  left: -1em;
  top: -0.25em;
}

.mainPage__header-leftMenu-submenu.active > * {
  animation: slideInUp 0.3s ease forwards;
  pointer-events: all;
  visibility: visible;
  cursor: pointer;
}

.mainPage__header-leftMenu-submenu.active
  .mainPage__header-leftMenu-submenu-item:nth-child(2) {
  animation-delay: 0.15s;
}

.mainPage__header-leftMenu-submenu.active
  .mainPage__header-leftMenu-submenu-item:nth-child(3) {
  animation-delay: 0.3s;
}

#Support,
#Gallery,
#Cities,
#About_us {
  opacity: 0;
  animation-duration: 0.5s;
  animation-name: bounceInLeft;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}

#Gallery {
  animation-delay: 1.7s;
}

#Cities {
  animation-delay: 1.9s;
}

#About_us {
  animation-delay: 2.1s;
}

/* MAIN-PAGE-TOP-MENU-RIGHT */

.mainPage__header-rightMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Paytone One", sans-serif;
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 0.15em;
  opacity: 0;
  animation: rightMenuApperance;
  animation-duration: 0.8s;
  animation-delay: 2.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

/* MAIN-PAGE-TOP-MENU-RIGHT-LOGO */

.mainPage__header-rightMenu-logo {
  position: relative;
  margin-left: 0.5em;
  background-color: #000;
  margin-top: 0.15em;
  width: 0.8em;
  height: 0.1em;
  cursor: pointer;
}

.mainPage__header-rightMenu-logo::after {
  position: absolute;
  content: "";
  background-color: #000;
  height: 0.1em;
  width: 100%;
  top: 0.3em;
  transition: 0.5s ease;
}

.mainPage__header-rightMenu-logo::before {
  position: absolute;
  content: "";
  background-color: #000;
  width: 100%;
  height: 0.1em;
  top: -0.3em;
  transition: 0.3s ease;
}

.mainPage__header-rightMenu-logo:hover:after {
  transform: translateY(-0.3em) scale(2);
}

.mainPage__header-rightMenu-logo:hover:before {
  transform: translateY(0.3em) scale(2);
}

/* MAIN-PAGE-INFO */

.mainPage__info {
  position: relative;
  margin-top: 10rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.7;
  width: max-content;
  color: #fff;
  font-family: "Graphic", sans-serif;
}

.mainPage__info > * {
  margin-top: 2.5rem;
}

.mainPage__info-header {
  font-size: 2.5rem;
}

.mainPage__info-header::before {
  content: "/01";
  position: absolute;
  left: -20%;
}

.mainPage__info-desc {
  font-size: 1.5rem;
}

.mainPage__info-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  width: max-content;
  margin-left: 3em;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px white, 0 0 2em #64c5eb, 0 0 0.4em #64c5eb;
  text-decoration: none;
}

.mainPage__info-button > * {
  margin-left: -0.17em;
}

.mainPage__info-button span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(0.1s * var(--i));
}

.mainPage__info-button span:nth-child(5),
.mainPage__info-button span:nth-child(7) {
  margin-right: 0.7em;
}

#infoHeader,
#infoDesc,
#infoButton {
  opacity: 0;
  animation-duration: 0.5s;
  animation-name: slideInUp;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#infoHeader,
#infoDesc,
#infoButton {
  animation-delay: 2.9s;
}

#infoHeader {
  animation-delay: 3.1s;
}

#infoDesc {
  animation-delay: 3.3s;
}

#infoButton {
  animation-delay: 3.5s;
}

/* ANIMATION */

@keyframes opaVideo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    opacity: 0.7;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rightMenuApperance {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.7;
  }
}
