.mainPage__joke-steps {
  position: absolute;
  right: 2.5rem;
  bottom: 4rem;
  opacity: 0;
}

.mainPage__joke-steps img {
  width: 22.5rem;
  height: 13rem;
}

.mainPage__joke-steps.active {
  animation: steps 1.5s both;
}

.mainPage__joke-hero {
  position: absolute;
  right: 6rem;
  bottom: 10.5rem;
  transform: translateY(200%);
}

.mainPage__joke-hero img {
  width: 12.3rem;
  height: 16.4rem;
}

.mainPage__joke-hero.active {
  animation: hero 1s both 0.9s;
}

.mainPage__joke-popup {
  position: absolute;
  width: 8.5rem;
  height: 8.5rem;
  bottom: 27rem;
  right: 2.5rem;
  transform: rotate(-10deg) translate3d(200%, 0, 0);
}

.mainPage__joke-popup.active {
  animation: popup 1s both 1.5s;
}

.mainPage__joke-popup img {
  width: 11rem;
  height: 11rem;
}

.mainPage__joke-popup-text {
  position: absolute;
  font-family: "Paper", sans-serif;
  font-size: 1.2rem;
  top: 3.2rem;
  width: max-content;
  right: -0.8rem;
  transform: rotate(-15deg);
	color: black;
}

.mainPage__joke-arrow img {
  width: 8rem;
  height: 10rem;
}

.mainPage__joke-arrow {
  position: absolute;
  bottom: 27rem;
  right: 22rem;
  transform: rotate(90deg);
  opacity: 0;
  transition: opacity 0.3s ease 2.3s;
}

.mainPage__joke-arrow.active {
  animation: arrow ease 0.7s infinite;
  opacity: 0.7;
}

.mainPage__info-desc span::after {
  transition: width 0.5s ease 1.9s;
  width: 0;
  content: "";
  height: 0;
}

.mainPage__info-desc span::before {
  transition: width 0.7s ease 2.4s;
  content: "";
  width: 0;
  height: 0;
}

.mainPage__info-desc span.active::before {
  content: "";
  width: 5rem;
  height: 2rem;
  background-image: url(/assets/images/header/Graffiti.png);
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: -2rem;
  left: 20rem;
  transform: rotate(-10deg);
}

.mainPage__info-desc span.active::after {
  content: "";
  width: 50%;
  height: 100%;
  background-image: url(/assets/images/header/Mark.png);
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 37.5%;
}

@keyframes steps {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translateY(-200%);
  }
  30% {
    opacity: 1;
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    opacity: 1;
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    opacity: 1;
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    opacity: 1;
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    opacity: 1;
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translateY(0);
  }
}

@keyframes hero {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes popup {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes arrow {
  from {
    transform: scale(0.8) rotate(90deg);
  }
  to {
    transform: scale(1.2) rotate(90deg);
  }
}
