.changer {
	width: 100%;
	height: max-content;
	background-color: #000;
	color: #fff;
	overflow-y: hidden;
	font-size: 1.25vw;
	position: relative;
	margin-top: -0.1em;
}
@media screen and (min-width: 2000px) {
  .changer {
		font-size: 26px;
  }
}
@media screen and (max-width: 900px) {
  .changer{
		font-size: 2.5vw;
  }
}


.changerTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media screen and (max-width: 900px) {
  .changerTop{
		flex-direction: column;
  }
}

.changer-text__title {
	opacity: 0;
}

.changer-text__title._active {
	animation: bounceInRight .5s ease .5s both;
}

.changer-text {
	display: flex;
	flex-direction: column;
	font-family: "Graphic", sans-serif;
	opacity: 0.7;
	font-size: 1.8em;
	position: relative;
	width: max-content;
}
@media screen and (max-width: 900px) {
  .changer-text{
		text-align: center;
  }
}

.changer-text__click {
	position: absolute;
	font-family: "Span", sans-serif;
	font-size: .7em;
	right: -10em;
	transform: rotate(20deg);
	opacity: 0;
}
@media screen and (max-width: 900px) {
  .changer-text__click {
		bottom: -7em;
		right: 1em;
  }
}

.changer-text__click._active.blocked {
	animation: fadeOutLeftClick .3s ease both;
}

.changer-text__click._active {
	animation: fadeInLeftClick .7s ease forwards 1.3s;
}

.changer-text__click::after {
	content: "";
	width: 6em;
	height: 2em;
	background-image: url(/assets/images/support_page/main/Arrow.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 2.5em;
	right: 3em;
	transform: rotate(-30deg);
}
@media screen and (max-width: 900px) {
  .changer-text__click::after {
		transform: rotate(110deg);
		top: -4em;
		right: 0;
  }
}

.changer-text__subtitile {
	margin-left: 4.3em;
	margin-top: 1.2em;
	opacity: 0;
}
@media screen and (max-width: 900px) {
  .changer-text__subtitile {
		margin-left: 0;
  }
}

.changer-text__subtitile._active {
	animation: bounceInRight .5s ease .8s both;
}

.changer-text__subtitile span {
	cursor: pointer;
	text-decoration: underline;
}

.changer-text__name {
	font-family: "Graphic", sans-serif;
	opacity: 0;
	font-size: 1.8em;
}
@media screen and (max-width: 900px) {
	.changer-text__name {
		margin-top: 2em;
	}
}


@media screen and (max-width: 500px) {
	.changer-text__name {
		font-size: 3em;
		margin-top: 1em;
	}
}
.changer-text__name.active {
	animation: opaTextName 1s both cubic-bezier(0.015, 0.460, 0.410, 0.985);
}

.changer-app {
	opacity: 0;
	pointer-events: none;
	width: 100%;
	margin: 4em auto;
}

.changer-app.active {
	animation: backInUp .7s ease-in-out .7s both;
	pointer-events: all;
}

@keyframes fadeInLeftClick {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}

@keyframes fadeOutLeftClick {
	from {
	opacity: 1;
	}
	to {
	opacity: 0;
	}
}

@keyframes opaTextName {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}

	50%,
	70% {
		opacity: 0.6;
		transform: translateY(-50%);
	}

	95% {
		opacity: 0.8;
		transform: translateY(-80%);
	}

	100% {
		opacity: .7;
		transform: translateY(0);
		text-shadow: 1px 1px 2px white, 0 0 2em #64C5EB, 0 0 0.4em #64C5EB;
	}
}