/* CREMLIN-PAGE */

.cremlin {
  background: #000;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -0.1em;
}
@media screen and (max-width: 900px) {
  .cremlin {
    height: 150vh;
  }
}
@media screen and (max-width: 500px) {
  .cremlin {
    height: 115vh;
    min-height: 1000px;
  }
}

.cremlin::after {
  content: "";
  width: 100%;
  height: 15%;
  bottom: 0;
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  z-index: 1000;
}

/* CREMLIN-TITLE */

.cremlin_title {
  display: flex;
  flex-direction: column;
  height: 10%;
  justify-content: space-between;
  font-size: 2.5vw;
}
@media screen and (min-width: 2000px) {
  .cremlin_title {
    font-size: 50px;
  }
}
@media screen and (max-width: 900px) {
  .cremlin_title {
    font-size: 5vw;
    margin-left: 0.75em;
    height: 7.5%;
  }
}
@media screen and (max-width: 500px) {
  .cremlin_title {
    margin-top: 2em;
    font-size: 6vw;
    margin-left: -0.4em;
    height: 4em;
  }
}

.cremlin-title {
  position: relative;
  color: #fff;
  font-family: "Graphic", sans-serif;
  font-weight: 400;
  opacity: 0.7;
  font-size: 1em;
  opacity: 0;
  width: max-content;
  margin-left: 2.7em;
}

.cremlin-title._active,
.cremlin-title-desc._active {
  animation-duration: 0.5s;
  animation-name: bounceInLeft;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.3s;
}

.cremlin-title-desc._active {
  animation-delay: 0.6s;
}

.cremlin-title::before {
  content: "/04";
  position: absolute;
  left: -20%;
}

.cremlin-title-desc {
  color: #fff;
  font-family: "Graphic", sans-serif;
  font-weight: 400;
  opacity: 0.7;
  font-size: 0.6em;
  opacity: 0;
  margin-left: 15em;
  margin-top: 1em;
}
@media screen and (max-width: 900px) {
  .cremlin-title-desc {
    margin-left: 0em;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cremlin-title-desc {
    font-size: 0.8em;
  }
}

/* CREMLIN-IMAGE-TECH-BLOCK */

#last {
  display: none;
}

.cremlinBot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 100%;
  margin-top: -3em;
  font-size: 1.25vw;
}
@media screen and (min-width: 2000px) {
  .cremlinBot {
    font-size: 24px;
  }
}
@media screen and (max-width: 900px) {
  .cremlinBot {
    flex-direction: column;
    height: 80%;
    font-size: 2.5vw;
    margin-top: 0;
  }
}
@media screen and (max-width: 500px) {
  .cremlinBot {
    height: 70%;
    font-size: 3vw;
  }
}
