/* ROOTS */

:root {
  --index: calc(1vh + 1vw);
  --clr: #3b83bd;
  --clr1: #64c5eb;
}

/* GENERAL */

@font-face {
  font-family: "Cyber";
  src: url(/assets/fonts/Technos-PKDZP.otf);
}

.preloader {
  width: 100%;
  height: 100vh;
  background: radial-gradient(#000f14, black);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: visible;
  z-index: 9999;
  opacity: 1;
  transition: all 0.7s ease-out;
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

/* PRELOADER-TEXT */

.text {
  display: flex;
  position: relative;
  font-size: calc(var(--index) * 1.6);
  letter-spacing: calc(var(--index) * 0.2);
  font-family: "Cyber", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: var(--clr);
  text-shadow: 0 0 20px var(--clr);
}

.text::after {
  content: "";
  width: 100%;
  height: calc(var(--index) * 1.5);
  background: var(--clr);
  position: absolute;
  top: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.5);
  filter: blur(1em);
}

/* PRELOADER-CIRCLES */

#loading {
  width: calc(var(--index) * 14);
  height: calc(var(--index) * 14);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  animation: scale 5s linear infinite;
}

#loading span {
  width: 100%;
  height: 100%;
  position: absolute;
  border-left: calc(var(--index) * 0.2) solid var(--clr1);
  border-right: calc(var(--index) * 0.2) solid var(--clr);
  border-radius: 37% 61% 63% 35% / 42% 34% 64% 56%;
  animation: rotate 3s linear infinite;
}
#loading span:nth-child(1) {
  animation: rotate 6s linear infinite reverse;
}
#loading span:nth-child(2) {
  animation: rotate 9s linear infinite;
}
#loading span:nth-child(3) {
  animation: rotate 12s linear infinite reverse;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0% {
    width: calc(var(--index) * 14);
    height: calc(var(--index) * 14);
  }
  50% {
    width: calc(var(--index) * 21);
    height: calc(var(--index) * 21);
  }
  100% {
    width: calc(var(--index) * 14);
    height: calc(var(--index) * 14);
  }
}
